body{
    height:1000px;
    margin: 0;
    padding: 0;
    background-color: pink;
}

.challengepage{
    color: black;
    text-align: center;
}

.challengepage-img {
    width: 350px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    border: 2px solid black;
}


.challengepage-info{
    background-color: rgb(243, 243, 243);
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    height: 280px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.steps{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.challengepage-btn {
    background-color: rgb(224, 148, 161);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto; 
    display: block;
    margin-top: -30px;
    position: relative; 
    right: 100px; 
    top: 0px; 
}
.challengepage-btn2 {
    background-color: rgb(224, 148, 161);
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    height: 100px;
    width: 100px;
    margin: auto; 
    display: block;
    margin-top: -30px;
    position: relative;
    left: 50px;
    top: -69px; 
}
  
  .challengepage-btn:hover {
    background-color: white;
}
.challengepage-btn2:hover {
    background-color: white;
}